{% extends "./layouts/fullwidth.njk" %}

{% block content %}
	<main id="main-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<article class="article">
						<h1 class="article-heading">The page cannot be found (404)</h1>

						<div class="article-body">
							
							<p>We are sorry. The page you've requested cannot be displayed. It appears that you've lost your way either through an outdated link or a typo on the page you were trying to reach.</p>

							<p>Go to <a href="">the start page</a> or use the search box in the upper area of the page to find the information you were looking for.</p>

							<p>
								<a href="">You can report this error by sending us an e-mail</a>.
							</p>

						</div>
					</div>
				</div>
			</article>
		</div>
	</main>
{% endblock %}

