{% extends "./layouts/styleguide.njk" %}
{% import './layouts/styleguide.njk' as styleguide %}

{% block content %}
	<section class="mmx-docs-chapter">
		{{	styleguide.docsheading("Profile") }}

		{{	styleguide.docsection("Fonts") }}
		{% include "./components/fonts.njk" %}

		{{	styleguide.docsection("Colors") }}
		{% include "./components/colors.njk" %}

		{{	styleguide.docsection("Logotypes") }}
		{% include "./components/logotype.njk" %}

		{{	styleguide.docsection("Margins") }}
		{% include "./components/margins.njk" %}

		{{	styleguide.docsection("Icons") }}
		{% include "./components/icons.njk" %}

		{{	styleguide.docsection("Images") }}
		{% include "./components/images.njk" %}
	</section>


	<section class="mmx-docs-chapter">
		{{	docsheading("Components") }}

		{{	docsection("Headings") }}
		{% include "./components/headings.njk" %}

		{{	docsection("Body text") }}
		{% include "./components/body-text.njk" %}

		{{	docsection("Lead text") }}
		{% include "./components/lead-text.njk" %}

		{{	docsection("Small text") }}
		{% include "./components/small-text.njk" %}

		{{	docsection("Link text") }}
		{% include "./components/links.njk" %}

		{{	docsection("Text alignment") }}
		{% include "./components/text-alignment.njk" %}

		{{	docsection("Text helpers") }}
		{% include "./components/text-helpers.njk" %}

		{{	docsection("Blockquote") }}
		{% include "./components/blockquote.njk" %}

		{{	docsection("Lists") }}
		{% include "./components/lists.njk" %}

		{{	docsection("Tables") }}
		{% include "./components/tables.njk" %}

		{{	docsection("Forms") }}
		{% include "./components/forms.njk" %}

		{{	docsection("Buttons") }}
		{% include "./components/buttons.njk" %}

		{{	docsection("Video") }}
		{% include "./components/video.njk" %}

		{{	docsection("Breadcrumbs") }}
		{% include "./components/breadcrumb.njk" %}

		{{	docsection("Pagination") }}
		{% include "./components/pagination.njk" %}

		{{	docsection("Alert") }}
		{% include "./components/alerts.njk" %}

		{{	docsection("Lables") }}
		{% include "./components/labels.njk" %}

		{{	docsection("Cards") }}
		{% include "./components/cards.njk" %}

		{{	docsection("Dropdowns") }}
		{% include "./components/dropdowns.njk" %}

		{{	docsection("Tabs") }}
		{% include "./components/nav-tabs.njk" %}

		{{	docsection("Navbar") }}
		{% include "./components/navbar.njk" %}

		{{	docsection("Navtree") }}
		{% include "./components/navtree.njk" %}

		{{	docsection("Media object") }}
		{% include "./components/media-object.njk" %}

		{{	docsection("Vcard") }}
		{% include "./components/vcard.njk" %}
	</section>

	<section class="mmx-docs-chapter">
		{{	docsheading("Compositions") }}

		{{	docsectionnocontainer("Site header") }}
		{% include "./compositions/global-header.njk" %}

		{{	docsectionnocontainer("Site footer") }}
		{% include "./compositions/global-footer.njk" %}

		{{	docsectionnocontainer("Site search") }}
		{% include "./compositions/global-search.njk" %}
	</section>

	<section class="mmx-docs-chapter">
		var templates = {{data.templates}}
		{{	docsheading("Templates") }}
		{{	docsection("Pages") }}
		<ul class="list-unstyled mmx-docs-link-list">
		<ul>
			{% for template in templates %}
				<li>
					<a href=template + ".html">{{template}}</a>
				</li>
			{% endfor %}
		</ul>

	</section>

{% endblock %}