{% extends "./layouts/fullwidth.njk" %}

{% block content %}
	<main id="main-content">
		<h1 class="sr-only">Logga in</h1>
			<div class="container">
				<div class="row">
					{% include "./compositions/login-form.njk" %}
				</div>
			</div>
	</main>

{% endblock %}