{% extends "./root.njk" %}
{% block rootcontent %}
	<a class="sr-only sr-only-focusable" href="#main-content">Hoppa till huvudinnehållet</a>
	{% include "../compositions/global-header.njk" %}
	{% block content %}{% endblock %}
	{% include "../compositions/global-footer.njk" %}
{% endblock %}