{% extends "./root.njk" %}

{% macro docsection(heading, content) %}
	<section class="mmx-docs-section">
		<div class="container mmx-docs-container">
			<h3 class="mmx-docs-heading" id="{{ heading | replace(" ", "-") }}">
				{{heading}}
				<button data-clipboard-text="#{{ heading | replace(" ", "-") }}" class="btn">
					<span class="fa fa-link"></span>
				</button>
			</h3>
				{% include content %}
		</div>
	</section>
{% endmacro %}


{% macro field(name, value='', type='text') %}
<div class="field">
  <input type="{{ type }}" name="{{ name }}"
         value="{{ value | escape }}" />
</div>
{% endmacro %}


{% macro docsectionnocontainer(heading) %}
	{% set id = heading.replace(r/ /g,'-') %}
	<section class="mmx-docs-section">
		<div class="container mmx-docs-container">
			<h3 class="mmx-docs-heading" id="{{ heading | replace(" ", "-") }}">
				{{heading}}
				<button data-clipboard-text="#{{ heading | replace(" ", "-") }}" class="btn">
					<span class="fa fa-link"></span>
				</button>
			</h3>
		</div>
	</section>
{% endmacro %}

{% macro docsheading(heading) %}
	<div class="mmx-docs-heading-container">
		<div class="container mmx-docs-container">
			<h2 class="mmx-docs-heading" id="{{ heading | replace(" ", "-") }}">
			{{heading}}
			</h2>
		</div>
	</div>
{% endmacro %}

{% block headerstyles %}
	<link rel="stylesheet" href="{{settings.stylesPath}}styleguide.css"/>
{% endblock %}

{% block rootcontent %}
<div data-appname="settings.title" class="mmx-componentlibrary">
  <header class="mmx-docs-header">
    <div class="container mmx-docs-container">
      <h1 class="page-heading">{{settings.title}} Styleguide</h1>
      <div id="rss-feeds"></div>
    </div>
  </header>
</div>
<nav id="mmx-document-nav" class="hidden-xs hidden-sm hidden-md">
  <button id="mmx-docs-toggle-button"><span class="fa fa-thumb-tack"></span></button>
  <div class="mmx-docs-logo"><img src="images/styleguide/mmx-logo.svg" alt=""/></div>
  <ul class="list-unstyled nav"></ul>
</nav>
{% block content %}{% endblock %}
<footer class="mmx-docs-footer">
  <div class="container mmx-docs-container">
    <div class="text-center"><a href="http://www.metamatrix.se"><img src="images/styleguide/mmx-logo.svg"/></a></div>
  </div>
</footer>
{% endblock %}

{% block footerscripts %}
<script src="{{settings.scriptsPath}}styleguide.min.js"></script>
{% endblock %}