.alert.alert-cookie.alert-dismissible(role='alert',data-enhancer="dismissableAlert", data-dismissable-id="123456")
    button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
    | Vi använder kakor för att förbättra din upplevelse på webbplatsen. 
    a(href="") Läs mer om kakor