a(href="").card.card-default
    +img-ph(360, 180)(class="card-img-top m-xs-t-large img-responsive",alt="Card top image")
    .card-block
        h4.card-title 
            +lipsum-words(10)
        p.card-text 
            +lipsum-words(25)