a(href="").card.card-default.card-circle
    .text-center
        +img-ph(200, 200)(class="card-img-top img-circle m-xs-t-large",alt="Card top image")
    .card-block
        h4.card-title Future City - Skoltävling om framtidens städer
        p.card-text Vi tog med filmkameran och ställde frågan till Ronny Andersson, forskningschef på Cementa och adjungerad professor i Lund. I en kort film ger han sin syn.