include ../includes/mixins

form
	.form-group
		label(for='exampleInputEmail1') Email address
		input#exampleInputEmail1.form-control(type='email')
	.form-group
		label(for='exampleInputPassword1') Password
		input#exampleInputPassword1.form-control(type='password', placeholder='Password')
	.form-group
		label(for='exampleDisabled') Disabled
		input#exampleDisabled.form-control(type='text', value='Disabled text', disabled=true)
	.form-group
		label(for='eaxmpleSelect') Select
		select#exampleInputPassword1.form-control
			+repeat(5)
				option
					+lipsum-words(3)
	.form-group
		label(for='expleTextarea') Text
		textarea#expleTextarea.form-control(placeholder='Text')
		p.help-block Example block-level help text here.
	.form-group
		+repeat(3)
			.checkbox
				label
					input(type='checkbox')
					span.input-control
					+lipsum-words(3)
		+repeat(3)
			.radio
				label
					input(type='radio',name="radio")
					span.input-control
					+lipsum-words(3)
	.form-group
		+repeat(3)
			label.checkbox-inline
				input(type='checkbox',name="checkbox")
				span.input-control
				+lipsum-words(3)
	.form-group
		+repeat(3)
			label.radio-inline
				input(type='radio',name="radio")
				span.input-control
				+lipsum-words(3)

	.form-group
		.checkbox
			label
				input(type='checkbox')
				span.input-control.input-control-center
				+lipsum-words(30)
	.form-group
		.radio
			label
				input(type='radio',name="radio",checked=true)
				span.input-control.input-control-center
				+lipsum-words(30)
	.form-group
		.checkbox
			label
				input(type='checkbox',checked=true)
				span.input-control.input-control-center
				+lipsum-words(30)

	h2 Form sizes

	.form-group
		input(class="form-control input-lg", type="text", placeholder=".input-lg")
	.form-group
		input(class="form-control", type="text", placeholder="Default input")
	.form-group
		input(class="form-control input-sm", type="text", placeholder=".input-sm")

	button.btn.btn-default(type='submit') Submit
	
	h2 Validation states
	.form-group.has-error
		label.control-label(for='inputError1') Input with error
		input#inputError1.form-control(type='text')
		span.help-block A block of help text that breaks onto a new line and may extend beyond one line.

	.has-error
		.checkbox
			label
				input#checkboxError(type='checkbox', value='option1')
				|       Checkbox with error

	