ul.list-unstyled.mmx-docs-icon-list.row
    li.col-xs-2.text-center 
        span.fa.fa-chevron-right.mmx-docs-icon-container
        span.mmx-docs-icon-name Chevron right
    li.col-xs-2.text-center 
        span.fa.fa-times.mmx-docs-icon-container
        span.mmx-docs-icon-name  Times
    li.col-xs-2.text-center  
        span.fa.fa-search.mmx-docs-icon-container
        span.mmx-docs-icon-name  Search
    li.col-xs-2.text-center  
        span.fa.fa-file.mmx-docs-icon-container
        span.mmx-docs-icon-name  File
    li.col-xs-2.text-center  
        span.fa.fa-bars.mmx-docs-icon-container
        span.mmx-docs-icon-name  Bars
        
