include ../includes/mixins

each image in settings.images
	h3= image.name
	+img-ph(image.w,image.h)(style="max-width:#{image.w}px", class=image.class, srcset="http://placehold.it/" + (image.w * 2) + "x" + (image.h * 2) + " 2x")