include ../includes/mixins

h3 Bullet list

ul
	li
		+lipsum-words(5)
		ul
			li
				+lipsum-words(5)
			li
				+lipsum-words(5)
	+repeat(3)
		li
			+lipsum-words(5)

ul
	+repeat(5)
		li
			+lipsum-words(25)

h3 Number list

ol
	li
		+lipsum-words(5)
		ol
			li
				+lipsum-words(5)
			li
				+lipsum-words(5)
	+repeat(3)
		li
			+lipsum-words(5)

ol
	+repeat(5)
		li
			+lipsum-words(25)

h3 Unstyled list

ul.list-unstyled
	+repeat(5)
		li
			+lipsum-words(5)

h3 Inline list

ul.list-inline
	+repeat(5)
		li
			+lipsum-words(3)


h3 Description list

dl
	+repeat(4)
		dt 
			+lipsum-words(2)
		dd
			+lipsum-words(10)

h3 Horizontal description list

dl.dl-horizontal
	+repeat(4)
		dt 
			+lipsum-words(2)
		dd
			+lipsum-words(10)

h3 Link list with icons

ul.link-list
	+repeat(5)
		li
			a.icon-link
				+icon("chevron-right")
				+lipsum-words(3)