include ../includes/mixins

.table-responsive
	table.table
		caption Optional table caption.
			thead
				tr
					th #
					th Name
					th E-mail
					th Username
			tbody
				tr
					th(scope='row') 1
					td 
						+lipsum-words(2)
					td example@example.com
					td 
						+lipsum-words(1)
				tr
					th(scope='row') 2
					td 
						+lipsum-words(2)
					td example@example.com
					td 
						+lipsum-words(1)
				tr
					th(scope='row') 3
					td 
						+lipsum-words(2)
					td example@example.com
					td 
						+lipsum-words(1)

h3 Striped table

.table-responsive
	table.table.table-striped
			thead
				tr
					th #
					th Name
					th E-mail
					th Username
			tbody
				tr
					th(scope='row') 1
					td 
						+lipsum-words(2)
					td example@example.com
					td 
						+lipsum-words(1)
				tr
					th(scope='row') 2
					td 
						+lipsum-words(2)
					td example@example.com
					td 
						+lipsum-words(1)
				tr
					th(scope='row') 3
					td 
						+lipsum-words(2)
					td example@example.com
					td 
						+lipsum-words(1)

.table-responsive
	table.table.table-condensed
			thead
				tr
					th #
					th Name
					th E-mail
					th Username
			tbody
				tr
					th(scope='row') 1
					td 
						+lipsum-words(2)
					td example@example.com
					td 
						+lipsum-words(1)
				tr
					th(scope='row') 2
					td 
						+lipsum-words(2)
					td example@example.com
					td 
						+lipsum-words(1)
				tr
					th(scope='row') 3
					td 
						+lipsum-words(2)
					td example@example.com
					td 
						+lipsum-words(1)