include ../includes/mixins

h3 Color

p.text-muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
p.text-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
p.text-secondary Nullam id dolor id nibh ultricies vehicula ut id elit.
p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
p.text-info Maecenas sed diam eget risus varius blandit sit amet non magna.
p.text-warning Etiam porta sem malesuada magna mollis euismod.
p.text-danger Donec ullamcorper nulla non metus auctor fringilla.

h3 Background color

p.bg-primary(style="padding:10px") Nullam id dolor id nibh ultricies vehicula ut id elit.
p.bg-secondary(style="padding:10px") Nullam id dolor id nibh ultricies vehicula ut id elit.
p.bg-success(style="padding:10px") Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
p.bg-info(style="padding:10px") Maecenas sed diam eget risus varius blandit sit amet non magna.
p.bg-warning(style="padding:10px") Etiam porta sem malesuada magna mollis euismod.
p.bg-danger(style="padding:10px") Donec ullamcorper nulla non metus auctor fringilla.