<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex nofollow">
<title>{{settings.title}}</title>
<script src="{{settings.scriptsPath}}modernizr.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
<link rel="stylesheet" href="{{settings.stylesPath}}main.css">