ul.list-unstyled.mmx-docs-icon-list.row
    li.col-xs-2.text-center 
        .mmx-docs-icon-container
            +icon('chevron-right')
        span.prv-icon-name Chevron right
    li.col-xs-2.text-center 
        .mmx-docs-icon-container
            +icon('times')
        span.mmx-docs-icon-name  Times
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('search')
        span.mmx-docs-icon-name  Search
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('file')
        span.mmx-docs-icon-name  File
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('menu')
        span.mmx-docs-icon-name  Bars
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('down-open')
        span.mmx-docs-icon-name  Down open
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('facebook')
        span.mmx-docs-icon-name  Facebook
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('twitter')
        span.mmx-docs-icon-name  Twitter
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('linkedin')
        span.mmx-docs-icon-name  Linkedin
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('instagram')
        span.mmx-docs-icon-name  Instagram
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('user')
        span.mmx-docs-icon-name  User
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('plus')
        span.mmx-docs-icon-name  Plus
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('arrow-right')
        span.mmx-docs-icon-name  Arrow right
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('bubble')
        span.mmx-docs-icon-name  Bubble
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('movie-play-file-2')
        span.mmx-docs-icon-name  Movie play
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('music-file-1')
        span.mmx-docs-icon-name  Music
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('upload-file-2')
        span.mmx-docs-icon-name  Upload
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('zip-file')
        span.mmx-docs-icon-name  Zip file
    li.col-xs-2.text-center  
        .mmx-docs-icon-container
            +icon('search-plus')
        span.mmx-docs-icon-name  Search plus
