include ../includes/mixins

each image in settings.images.sizes
	h3= image.name
	+img-ph(image.width,image.height, image.displayName)(class=image.class, data-srcset="holder.js/" + (image.width * 2) + "x" + (image.height * 2) + " 2x")