include ../includes/mixins

p
	span.label.label-default Default
p
	span.label.label-primary Primary
p
	span.label.label-secondary Secondary
p
	span.label.label-success Success
p
	span.label.label-info Info
p
	span.label.label-warning Warning
p
	span.label.label-danger Danger