h2.h4.nav-heading
	span.sr-only Navigering för 
	a(href="") Dricksvatten

ul.nav.nav-tree
	li 
		a(href="") Råvattenhantering
		button.nav-expander.btn-clean
			+icon-circle("plus")(class="text-primary")
	li.active
		a(href="") Vattenverk &amp; reningstekniker
		button.nav-expander.btn-clean
			+icon-circle("minus")
		ul.nav
			li
				a(href="") Mikrobiologiska barriärer
			li.active
				a(href="") UV-ljus
				button.nav-expander.btn-clean
					+icon-circle("plus")
			li
				a(href="") Kemikalier
	li
		a(href="") Vattendistribution
	li
		a(href="") Säkerhet, kris &amp; beredskap
		button.nav-expander.btn-clean
			+icon-circle("plus")
	li
		a(href="") Undersökning och analys
		button.nav-expander.btn-clean
			+icon-circle("plus")
	