.vcard
	.vcard-inner
		.vcard-img
			.img-wrapper.img-wrapper-1x1
				+img-ph('portrait')(class="img-circle")
		.vcard-body
			h2.vcard-heading 
				span.vcard-name Firstname Lastname
			
			p.vcard-title Job title
			
			dl.vcard-dl
				dt E-mail
				dd
					a.vcard-email(href="mailto:firstname.lastname@metamatrix.se") firstname.lastname@metamatrix.se
				dt Phone
				dd
					a.vcard-phone(href="tel:+46812345678") 08 1234 5678

.vcard
	.vcard-inner
		.vcard-body
			h2.vcard-heading 
				span.vcard-name Firstname Lastname
			
			p.vcard-title Job title
			
			dl.vcard-dl
				dt E-mail
				dd
					a.vcard-email(href="mailto:firstname.lastname@metamatrix.se") firstname.lastname@metamatrix.se
				dt Phone
				dd
					a.vcard-phone(href="tel:+46812345678") 08 1234 5678
		.vcard-img.vcard-img-right
			.img-wrapper.img-wrapper-1x1
				+img-ph('portrait')(class="img-circle")