include ../includes/mixins

doctype html
html(lang='sv')
	head
		include ../partials/htmlhead
		block headerstyles
		block headerscripts
	body(data-spy="scroll" data-target="#mmx-document-nav")
		block rootcontent
		include ../partials/footerscripts
		block footerscripts
