//- Icons
{% macro icon(name) %}
	var cssClass = {{settings.icons.className}} + " " + {{settings.icons.prefix}} + name;

	{% if attributes.class %}
		cssClass += " " + attributes.class;
	{% endif %}

<svg aria-hidden="true", class="cssClass">
  <use xlink:href="images/icons/icons.svg#icon-undefined"></use>
</svg>

{% endmacro %}

{% macro iconcircle(name) %}
	var cssClass = {{settings.icons.className}} + " " + {{settings.icons.prefix}} + name;

	{% if attributes.class %}
		cssClass += " " + attributes.class;
	{% endif %}

	cssClass += " fa-stack-1x fa-inverse";

	<span class="fa-stack"><span class="fa fa-circle fa-stack-2x"></span><span aria-hidden="true"></span></span>

{% endmacro %}
