{% macro img-ph(name, text, bgColor, frontColor) %}

    {% if !bgColor %}
        var bgColor = settings.images.phBgColor
    {% if !frontColor %}
        var frontColor = settings.images.phFgColor
    {% if !text %}
        var text = name

    var array = settings.images.sizes
    var key = "name"
    var value = name
    var className = ""

    {% for (var i = 0; i < array.length; i++) %}
        {% if(array[i][key] === value) %}
            var width = settings.images.sizes[i].width
            var height = settings.images.sizes[i].height
            className = settings.images.sizes[i].class
            text = settings.images.sizes[i].displayName

    <img class = className, data-src="holder.js/"+ width + "x" + height + "?bg=" + bgColor + "&fg=" + frontColor + "&text="+text></img>

{% endmacro %}
