mixin img-ph(name, text, bgColor, frontColor)

    unless bgColor
        - var bgColor = settings.images.phBgColor
    unless frontColor
        - var frontColor = settings.images.phFgColor
    unless text
        - var text = name

    - var array = settings.images.sizes
    - var key = "name"
    - var value = name
    - var className = ""

    - for (var i = 0; i < array.length; i++)
        if(array[i][key] === value)
            - var width = settings.images.sizes[i].width
            - var height = settings.images.sizes[i].height
            - className = settings.images.sizes[i].class
            - text = settings.images.sizes[i].displayName

    img(class = className, data-src="holder.js/"+ width + "x" + height + "?bg=" + bgColor + "&fg=" + frontColor + "&text="+text)&attributes(attributes)