//- Icons
mixin icon(name)
	-var cssClass = settings.icons.className + " " + settings.icons.prefix + name;

	-if(attributes.class) 
		-cssClass += " " + attributes.class;

	svg(class=cssClass, aria-hidden="true")
		use(xlink:href="images/icons/icons.svg#icon-"+name)

mixin icon-circle(name)
	-var cssClass = settings.icons.className + " " + settings.icons.prefix + name;

	-if(attributes.class) 
		-cssClass += " " + attributes.class;

	-cssClass += " fa-stack-1x fa-inverse";

	span.fa-stack
		span.fa.fa-circle.fa-stack-2x
		span(class=cssClass,aria-hidden="true")