mixin img-ph(width, height, displayName, bgColor, frontColor)

    unless bgColor
        - var bgColor = settings.images.phBgColor
    unless frontColor
        - var frontColor = settings.images.phFgColor

    img(data-src="holder.js/"+ width + "x" + height+ "?bg=" + bgColor+ "&fg=" + frontColor + "&text="+displayName)&attributes(attributes)

mixin img-ph-circle(width, height, bgColor, frontColor)

    unless bgColor
        - var bgColor = settings.images.phBgColor
    unless frontColor
        - var frontColor = settings.images.phFgColor

    img.img-circle(data-src="holder.js"+ width + "x" + height+ "?bg=" + bgColor+ "&fg=" + frontColor)&attributes(attributes)