<div role="alert" class="alert alert-success"><strong>Well done!</strong> You successfully read this important <a class="alert-link">alert message.</a></div>
<div role="alert" class="alert alert-info"><strong>Heads up!</strong> This alert needs your attention, but it's not <a class="alert-link">super important</a></div>
<div role="alert" class="alert alert-warning"><strong>Warning!</strong> Better check yourself, you're not looking <a class="alert-link">too good</a></div>
<div role="alert" class="alert alert-danger"><strong>Oh snap!</strong> Change a few things up and try submitting again. <a class="alert-link">Click here!</a></div>
<h3>Dissmissabled alert</h3>
<div role="alert" class="alert alert-info alert-dismissible">
  <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button><strong>
    Warning!
     Better check yourself, you're not looking too good.</strong>
</div>