{% import '../includes/macros/lipsum.njk' as lipsum %}

<blockquote>
  <p>{{ lipsum.lipsumwords(35, 5) }}</p>
</blockquote>
<blockquote>
  <p>{{ lipsum.lipsumwords(25, 15) }}</p>
  <footer>
    Someone famous in
    <cite title="Source title">Source title</cite>
  </footer>
</blockquote>