{% import '../includes/macros.njk' as macros %}

<blockquote>
  <p>{{ macros.lipsum-words(15) }}</p>
</blockquote>
<blockquote>
  <p>{{ macros.lipsum-words(15) }}</p>
  <footer>
    Someone famous in
    <cite title="Source title">Source title</cite>
  </footer>
</blockquote>