{% macro swatch(color) %}
	{% set rgb = utils.hex2rgb(color.color) %}
	<div class="mmx-docs-swatch col-sm-2">
		<div style="background:{{ color.color }}" class="color"></div>
		<p class="small">
			<b>{{color.displayName}}</b><br>
			{{color.color}}<br>
			RGB:
			{{rgb.r}}
			{{rgb.g}}
			{{rgb.b}}
		</p>
	</div>
{% endmacro %}

<div class="row row-blocks">
	{% for color in settings.colors %}
	  {{swatch(color)}}
	{% endfor %}
</div>