include ../includes/mixins

.dropdown.open
	button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
		| Dropdown
		span.caret
	ul.dropdown-menu(aria-labelledby='dropdownMenu1')
		li
			a(href='#') Action
		li
			a(href='#') Another action
		li
			a(href='#') Something else here
		li
			a(href='#') Separated link