{% import '../includes/macros.njk' as macros %}
{% import '../includes/macros/lipsum.njk' as lipsum %}

<form>
	<div class="form-group">
    <label for="exampleInputText1">Text</label>
    <input id="exampleInputText1" type="text" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input id="exampleInputEmail1" type="email" class="form-control" data-val="true" data-val-email="You must specifiy an e-mail address" />
    <span class="field-validation-valid" data-valmsg-for="exampleInputEmail1" data-valmsg-replace="true">You must specifiy an e-mail address</span>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input id="exampleInputPassword1" type="password" placeholder="Password" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="exampleInputText2">Text with error state</label>
    <input id="exampleInputText2" type="text" class="form-control input-validation-error" required aria-required="True" />
    <span class="field-validation-error">This field is required</span>
  </div>
  <div class="form-group">
    <label for="exampleInputText3">Text with valid state</label>
    <input id="exampleInputText3" type="text" class="form-control input-validation-valid" required aria-required="true" />
  </div>
	<div class="form-group">
	  <label for="exampleDisabled">Disabled</label>
	  <input id="exampleDisabled" type="text" value="Disabled text" disabled="disabled" class="form-control"/>
	</div>
	<div class="form-group">
	  <label for="exampleSelect">Select</label>
	  <select id="exampleInputPassword1" class="form-control">
			<option value="">Lorem ipsum</option>
			<option value="">Lorem ipsum</option>
			<option value="">Lorem ipsum</option>
			<option value="">Lorem ipsum</option>
			<option value="">Lorem ipsum</option>
		</select>
	</div>

	<div class="form-group">
	  <label for="expleTextarea">Text</label>
	  <textarea id="expleTextarea" placeholder="Text" class="form-control"></textarea>
	</div>

	<div class="form-group">
	  <label for="exampleInputFile">File input</label>
	  <input id="exampleInputFile" type="file"/>
	  <p class="help-block">Example block-level help text here.</p>
	</div>

	<div class="form-group">
		<div class="checkbox styled-checkbox styled-input-primary">
		  <label>
		    <input type="checkbox"/>
		    <span class="input-control">Lorem ipsum</span>
		  </label>
		</div>
		<div class="checkbox styled-checkbox styled-input-primary">
		  <label>
		    <input type="checkbox"/>
		    <span class="input-control">Lorem ipsum</span>
		  </label>
		</div>
		<div class="radio styled-radio styled-input-primary">
		  <label>
		    <input type="radio" name="radio"/>
				<span class="input-control">Lorem ipsum</span>
		  </label>
		</div>
		<div class="radio styled-radio styled-input-primary">
		  <label>
		    <input type="radio" name="radio"/>
				<span class="input-control">Lorem ipsum</span>
		  </label>
		</div>
	</div>

	<div class="form-group">
		<label class="checkbox-inline styled-checkbox-inline styled-input-primary">
		  <input type="checkbox" name="checkbox"/>
			<span class="input-control">Lorem ipusm dolor</span>
		</label>
		<label class="checkbox-inline styled-checkbox-inline styled-input-primary">
		  <input type="checkbox" name="checkbox"/>
			<span class="input-control">Lorem ipusm dolor</span>
		</label>
	</div>

	<div class="form-group">
		<label class="radio-inline styled-radio-inline styled-input-primary">
		  <input type="radio" name="radio"/>
			<span class="input-control">Lorem ipusm dolor</span>
		</label>
		<label class="radio-inline styled-radio-inline styled-input-primary">
		  <input type="radio" name="radio"/>
			<span class="input-control">Lorem ipusm dolor</span>
		</label>
	</div>

	<div class="form-group">
	  <div class="checkbox styled-checkbox styled-input-primary">
	    <label>
	      <input type="checkbox"/>
				<span class="input-control input-control-center">Lorem ipsum dolor sit amet</span>
	    </label>
	  </div>
	</div>

	<div class="form-group">
	  <div class="radio styled-radio styled-input-primary">
	    <label>
	      <input type="radio" name="radio" checked="checked"/>
				<span class="input-control input-control-center">Lorem ipsum dolor sit amet</span>
	    </label>
	  </div>
	</div>

	<div class="form-group">
	  <div class="checkbox styled-checkbox styled-input-primary">
	    <label>
	      <input type="checkbox" checked="checked"/>
				<span class="input-control input-control-center">Lorem ipsum dolor sit amet</span>
	    </label>
			<a href="" class="label-addon">Read more about the terms</a>
	  </div>
	</div>

	<div class="form-group">
	  <input id="file1" type="file" data-multiple-caption="{count} filer valda" class="styled-inputfile form-control"/>
	  <label for="file1">
			<span>Choose a file...</span>
		</label>
	</div>

	<h3>Form sizes</h3>

	<input type="text" placeholder=".input-lg" class="form-control input-lg"/>
	<input type="text" placeholder="Default input" class="form-control"/>
	<input type="text" placeholder=".input-sm" class="form-control input-sm"/>

	<button type="submit" class="btn btn-default">Submit</button>

	<h3>Validation summary</h3>

	<div class="validation-summary-errors" data-valmsg-summary="true">
		<span>Oh no, something went wrong!</span>
		<ul>
			<li>{{lipsum.lipsumsentences(1,5)}}</li>
			<li>{{lipsum.lipsumsentences(1,10)}}</li>
			<li>{{lipsum.lipsumsentences(1,20)}}</li>
		</ul>
	</div>

</form>
