{% import '../includes/macros.njk' as macros %}

<h3>16x9</h3>
{{ macros.imgph("16x9") }}
<h3>4x3</h3>
{{ macros.imgph("4x3") }}
<h3>3x2</h3>
{{ macros.imgph("3x2") }}


{#data-srcset="holder.js/" + (width * 2) + "x" + (height * 2) + " 2x")#}