<div class="form-group">
  <div class="input-group"><span id="basic-addon1" class="input-group-addon">@</span>
    <input type="text" placeholder="Username" aria-describedby="basic-addon1" class="form-control"/>
  </div>
</div>
<div class="form-group">
  <div class="input-group">
    <input type="text" placeholder="Recipient's username" aria-describedby="basic-addon2" class="form-control"/><span id="basic-addon2" class="input-group-addon">@example.com</span>
  </div>
</div>
<div class="form-group">
  <div class="input-group"><span class="input-group-addon">$</span>
    <input type="text" aria-label="Amount (to the nearest dollar)" class="form-control"/><span class="input-group-addon">.00</span>
  </div>
</div>
<div class="form-group">
  <div class="input-group"><span class="input-group-btn">
      <button type="button" class="btn btn-primary">Go!</button></span>
    <input type="text" placeholder="Search for..." class="form-control"/>
  </div>
</div>
<div class="form-group">
  <div class="input-group">
    <input type="text" placeholder="Search for..." class="form-control"/><span class="input-group-btn">
      <button type="button" class="btn btn-primary">Go!</button></span>
  </div>
</div>
