<p><span class="label label-default">Default</span></p>
<p><span class="label label-primary">Primary</span></p>
<p><span class="label label-secondary">Secondary</span></p>
<p><span class="label label-success">Success</span></p>
<p><span class="label label-info">Info</span></p>
<p><span class="label label-warning">Warning</span></p>
<p><span class="label label-danger">Danger</span></p>