{% import '../includes/macros.njk' as macros %}

<p>
	<a href="">This is a stand alone link</a>
</p>
<p>
	{{ macros.lipsum-words(20) }}
	<a href="">This is a link in a text</a>
	{{ macros.lipsum-words(20) }}
</p>