{% import '../includes/macros/lipsum.njk' as lipsum %}
{% import '../includes/macros/icons.njk' as icons %}

<h3>Bullet list</h3>
<ul>
  <li>
    {{ lipsum.lipsumwords(5) }}
    <ul>
      <li>{{ lipsum.lipsumwords(5) }}</li>
      <li>{{ lipsum.lipsumwords(5) }}</li>
    </ul>
  </li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
</ul>

<ul>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
</ul>

<h3>Number list</h3>
<ol>
  <li>
		{{ lipsum.lipsumwords(5) }}
    <ol>
      <li>{{ lipsum.lipsumwords(5) }}</li>
      <li>{{ lipsum.lipsumwords(5) }}</li>
    </ol>
  </li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
</ol>

<ol>
  <li>{{ lipsum.lipsumwords(25) }}</li>
  <li>{{ lipsum.lipsumwords(25) }}</li>
  <li>{{ lipsum.lipsumwords(25) }}</li>
  <li>{{ lipsum.lipsumwords(25) }}</li>
  <li>{{ lipsum.lipsumwords(25) }}</li>
</ol>

<h3>Unstyled list</h3>
<ul class="list-unstyled">
	<li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
  <li>{{ lipsum.lipsumwords(5) }}</li>
</ul>

<h3>Inline list</h3>
<ul class="list-inline">
	<li>{{ lipsum.lipsumwords(3) }}</li>
  <li>{{ lipsum.lipsumwords(3) }}</li>
  <li>{{ lipsum.lipsumwords(3) }}</li>
  <li>{{ lipsum.lipsumwords(3) }}</li>
  <li>{{ lipsum.lipsumwords(3) }}</li>
</ul>

<h3>Description list</h3>

<dl>
	<dt>{{ lipsum.lipsumwords(2) }}</dt>
	<dd>{{ lipsum.lipsumwords(10) }}</dd>
  <dt>{{ lipsum.lipsumwords(2) }}</dt>
	<dd>{{ lipsum.lipsumwords(10) }}</dd>
  <dt>{{ lipsum.lipsumwords(2) }}</dt>
	<dd>{{ lipsum.lipsumwords(10) }}</dd>
  <dt>{{ lipsum.lipsumwords(2) }}</dt>
	<dd>{{ lipsum.lipsumwords(10) }}</dd>
</dl>

<h3>Horizontal description list</h3>

<dl class="dl-horizontal">
	<dt>{{ lipsum.lipsumwords(2) }}</dt>
	<dd>{{ lipsum.lipsumwords(10) }}</dd>
  <dt>{{ lipsum.lipsumwords(2) }}</dt>
	<dd>{{ lipsum.lipsumwords(10) }}</dd>
  <dt>{{ lipsum.lipsumwords(2) }}</dt>
	<dd>{{ lipsum.lipsumwords(10) }}</dd>
  <dt>{{ lipsum.lipsumwords(2) }}</dt>
	<dd>{{ lipsum.lipsumwords(10) }}</dd>
</dl>

<h3>Link list with icons</h3>
<ul class="link-list">
	<li>
		<a class="icon-link">
			{{ icons.icon("chevron-right") }}
			{{ lipsum.lipsumwords(3) }}
		</a>
	</li>
  <li>
		<a class="icon-link">
			{{ icons.icon("chevron-right") }}
			{{ lipsum.lipsumwords(3) }}
		</a>
	</li>
  <li>
		<a class="icon-link">
			{{ icons.icon("chevron-right") }}
			{{ lipsum.lipsumwords(3) }}
		</a>
	</li>
  <li>
		<a class="icon-link">
			{{ icons.icon("chevron-right") }}
			{{ lipsum.lipsumwords(3) }}
		</a>
	</li>
  <li>
		<a class="icon-link">
			{{ icons.icon("chevron-right") }}
			{{ lipsum.lipsumwords(3) }}
		</a>
	</li>
</ul>
