include ../includes/mixins

p
	ul.nav.nav-tabs
		li.active(role='presentation')
			a(href='#') Home
		li(role='presentation')
			a(href='#') Profile
		li(role='presentation')
			a(href='#') Messages

p
	ul.nav.nav-tabs.nav-justified
		li.active(role='presentation')
			a(href='#') Home
		li(role='presentation')
			a(href='#') Profile
		li(role='presentation')
			a(href='#') Messages