<nav aria-labelledby="paging-label"><span id="paging-label" class="sr-only">Pagination navigation</span>
  <ul class="pagination">
    <li>
      <a href="" aria-label="Previous page">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    <li aria-current="True" class="active">
      <a href="">
        <span class="sr-only">Go to page</span>
        1
      </a>
      </li>
    <li>
      <a href="">
        <span class="sr-only">Go to page</span>
        2
      </a>
    </li>
    <li>
      <a href="">
        <span class="sr-only">Go to page</span>
        3
      </a>
    </li>
    <li>
      <a href="">
        <span class="sr-only">Go to page</span>
        4
      </a>
    </li>
    <li>
      <a href="">
        <span class="sr-only">Go to page</span>
        5
      </a>
    </li>
    <li>
      <a href="" aria-label="Next page">
        <span aria-hidden="true">»</span>
      </a>
    </li>
  </ul>
</nav>
