<div class="table-responsive">
  <table class="table">
    <caption>Optional table caption.
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Username</th>
        </tr>
      </thead>

			<tbody>
			  <tr>
			    <th scope="row">1</th>
			    <td>
			      Lorem ipsum
			    </td>
			    <td>example@example.com</td>
			    <td>
			      Lorem ipsum
			    </td>
			  </tr>

				<tr>
			    <th scope="row">2</th>
			    <td>
			      Lorem ipsum
			    </td>
			    <td>example@example.com</td>
			    <td>
			      Lorem ipsum
			    </td>
			  </tr>

				<tr>
			    <th scope="row">3</th>
			    <td>
			      Lorem ipsum
			    </td>
			    <td>example@example.com</td>
			    <td>
			      Lorem ipsum
			    </td>
			  </tr>

			</tbody>
    </caption>
  </table>
</div>

<h3>Striped table</h3>

<div class="table-responsive">
  <table class="table table-striped">
    <caption>Optional table caption.
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Username</th>
        </tr>
      </thead>

			<tbody>
			  <tr>
			    <th scope="row">1</th>
			    <td>
			      Lorem ipsum
			    </td>
			    <td>example@example.com</td>
			    <td>
			      Lorem ipsum
			    </td>
			  </tr>

				<tr>
			    <th scope="row">2</th>
			    <td>
			      Lorem ipsum
			    </td>
			    <td>example@example.com</td>
			    <td>
			      Lorem ipsum
			    </td>
			  </tr>

				<tr>
			    <th scope="row">3</th>
			    <td>
			      Lorem ipsum
			    </td>
			    <td>example@example.com</td>
			    <td>
			      Lorem ipsum
			    </td>
			  </tr>

			</tbody>
    </caption>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-condensed">
    <caption>Optional table caption.
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Username</th>
        </tr>
      </thead>

			<tbody>
			  <tr>
			    <th scope="row">1</th>
			    <td>
			      Lorem ipsum
			    </td>
			    <td>example@example.com</td>
			    <td>
			      Lorem ipsum
			    </td>
			  </tr>

				<tr>
			    <th scope="row">2</th>
			    <td>
			      Lorem ipsum
			    </td>
			    <td>example@example.com</td>
			    <td>
			      Lorem ipsum
			    </td>
			  </tr>

				<tr>
			    <th scope="row">3</th>
			    <td>
			      Lorem ipsum
			    </td>
			    <td>example@example.com</td>
			    <td>
			      Lorem ipsum
			    </td>
			  </tr>

			</tbody>
    </caption>
  </table>
</div>
