include ../includes/mixins

p.text-left Left aligned text.
p.text-center Center aligned text.
p.text-right Right aligned text.
p.text-justify 
	| Justified text.
	+lipsum-sentences(20)
p.text-nowrap 
	| No wrap text.
	+lipsum-sentences(20)