{% import '../includes/macros.njk' as macros %}

<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<p class="text-justify">
  Justified text.
	{{ macros.lipsumsentences(20) }}
</p>
<p class="text-nowrap">
  No wrap text.
	{{ macros.lipsumsentences(20) }}
</p>