{% import '../includes/macros.njk' as macros %}

<div class="vcard">
  <div class="vcard-inner">
    <div class="vcard-img">
      <div class="img-wrapper img-wrapper-1x1">{{ macros.img-ph('portrait', class='img-circle') }}</div>
    </div>
    <div class="vcard-body">
      <h2 class="vcard-heading"> <span class="vcard-name">Firstname Lastname</span></h2>
      <p class="vcard-title">Job title</p>
      <dl class="vcard-dl">
        <dt>E-mail</dt>
        <dd><a href="mailto:firstname.lastname@metamatrix.se" class="vcard-email">firstname.lastname@metamatrix.se</a></dd>
        <dt>Phone</dt>
        <dd><a href="tel:+46812345678" class="vcard-phone">08 1234 5678</a></dd>
      </dl>
    </div>
  </div>
</div>
<div class="vcard">
  <div class="vcard-inner">
    <div class="vcard-body">
      <h2 class="vcard-heading"> <span class="vcard-name">Firstname Lastname</span></h2>
      <p class="vcard-title">Job title</p>
      <dl class="vcard-dl">
        <dt>E-mail</dt>
        <dd><a href="mailto:firstname.lastname@metamatrix.se" class="vcard-email">firstname.lastname@metamatrix.se</a></dd>
        <dt>Phone</dt>
        <dd><a href="tel:+46812345678" class="vcard-phone">08 1234 5678</a></dd>
      </dl>
    </div>
    <div class="vcard-img vcard-img-right">
      <div class="img-wrapper img-wrapper-1x1">{{ macros.img-ph('portrait', class='img-circle') }}</div>
    </div>
  </div>
</div>