<div class="embed-responsive embed-responsive-16by9 offset-both">
  <iframe width="1280" height="720" src="https://www.youtube.com/embed/ul1F935mOTM" frameborder="0" allowfullscreen=""></iframe>
</div>