.article {
	
}

.article-heading {
	margin-top: 0;
}

.article-preamble {

}

.article-body {
	.img-right {
		float: right;
		margin: 0 0 ($grid-gutter-width / 2) ($grid-gutter-width / 2);
	}

	.img-left {
		float: left;
		margin: 0 ($grid-gutter-width / 2) ($grid-gutter-width / 2) 0;
	}

	.img-center {
		display: block;
		margin: $grid-gutter-width auto;
	}
}

.article-image {

}