extends root

block rootcontent
	a.sr-only.sr-only-focusable(href="#main-content") Hoppa till huvudinnehållet
	include ../compositions/global-header
	block content
	include ../compositions/global-footer