include ../includes/mixins

doctype html
html(lang='sv')
	head
		include ../partials/htmlhead
		block headerstyles
		block headerscripts
	body
		block rootcontent
		include ../partials/footerscripts
		block footerscripts
