footer#global-footer.global-footer
	.container
		a(href="").site-logo
			img(src="images/logo-inverted.svg", alt="")
		p 
			+lipsum-words(15,6)
		nav
			ul.list-inline
				li 
					a(href="") Kontakta oss
				li 
					a(href="") Facebook
				li 
					a(href="") Twitter
				li 
					a(href="") LinkedIn