form(class="global-search",role="search")
	.input-group
		label.sr-only(for="global-search-input") Sök
		input#global-search-input.form-control(type="search",placeholder="Sök...")
		span.input-group-btn
			button.btn.btn-search(type="submit")
				+icon("search")(class="icon-sm")
				span.sr-only Sök