nav#main-nav(class="hidden-xs hidden-sm")
	.container
		ul
			+nav_item("#")
				| Om IQ Samhällsbyggnad
			+nav_item("#", "active")
				| Forskning & innovation
			+nav_item("#")
				| Nätverk
			+nav_item("#")
				| Bli medlem