ul.list-unstyled.article-list
	+repeat(10)
		li
			a(href="").card.m-xs-b-small
					h2.card-title
						+lipsum-words(2,5)
					p.card-text
						span.label.label-intro
							time(datetime="2016-05-12") 12 maj 2016  
						+lipsum-sentences(2,5)