meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="robots", content="noindex nofollow")
title #{settings.title}
script(src='#{settings.scriptsPath}modernizr.min.js')
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
link(rel="stylesheet", href="#{settings.stylesPath}main.css")