.media.contact
    .media-body
        .show-xs.show-sm.hidden-md.hidden-lg.text-center.m-xs-b-medium
            +img-ph-circle(100,100)
        h1.contact-heading Förnamn Efternamn
            
            small.m-xs-t-small
                +lipsum-words(2,5)

        dl.dl-contact
            dt.sr-only E-post:
            dd
                a.icon-link(href='mailto:fornamn.efternamn@iqs.se')
                    | fornamn.efternamn@iqs.se
            dt.sr-only Telefon:
            dd
                a.icon-link(href='tel:08-123 123 123')
                    span.sr-only Ring Förnamn Efternamn på telefonnumer
                    | 08-123 123 123
        p 
            +lipsum-words(4)
    .media-right.media-right-in-contact.hidden-xs.hidden-sm
        +img-ph-circle(200,200)