footer#main-footer
	.container
		a(href="").site-logo
			img(src="images/logo-inverted.svg", alt="")
		p Vi är föreningen för innovation och kvalitet inom samhällsbyggandet
		nav
			ul.list-inline
				li 
					a(href="") Kontakta oss
				li 
					a(href="") Facebook
				li 
					a(href="") Twitter
				li 
					a(href="") LinkedIn
				li 
					a(href="") Mynewsdesk
					


