form.panel
	.form-group.form-group-sm
		label(for='input1') Namn
		input(type="text", required).form-control
	.form-group.form-group-sm
		label(for='input1') E-postadress
		input(type="text", required).form-control
	.form-group.form-group-sm
		.checkbox
			label
				input(type='checkbox',checked=true)
				| Jag vill gå båda dagarna tack
	input(type="submit").btn.btn-primary
	
						