include ../includes/mixins

header#main-header.main-header.clearfix(role="banner")
	include ../compositions/mobile-navbar
	.container
		.row
			.row-md-eq
				.col-md-4.col-middle 
					a(href="",title="Till startsidan")#site-logo 
						img(src=settings.logoImage.default, alt=settings.appName)
				.col-md-8.hidden-sm.hidden-xs.col-middle.text-right
					include ../compositions/site-toolbar
					form(class="site-search",role="search")
						.form-group
							label(for="sitesearchmainheader").sr-only Sök på IQS.se
							input(type="text",class="form-control input-sm",placeholder="Sök på IQS.se")#sitesearchmainheader
							button(type="submit",class="btn-search")
								+icon("search")
								span.sr-only Sök
	include navigation
	