form(class="site-search",role="search")
	.form-group.m-xs-b-small
		label(for="sitesearch").sr-only Sök på IQS.se
		input(type="text",class="form-control",placeholder="Sök på IQS.se")#sitesearch
		button(type="submit",class="btn-search")
			+icon("search")
			span.sr-only Sök
span.help-block
	| 26 resultat för
	strong  "Projekt 123"