//- Icons
mixin icon(name)
	-var cssClass = settings.icons.className + " " + settings.icons.prefix + name;

	-if(attributes.class) 
		-cssClass += " " + attributes.class;

	span(class=cssClass,aria-hidden="true")