footer.article-footer
	.row
		.col-sm-6
			.m-xs-b-medium.m-sm-y-small Senast uppdaterad 
				time(datetime="2016-05-12") 12 maj 2016  
		.col-sm-6.text-right-small
			button.btn.btn-primary.btn-sm Dela sidan
			
				
			
