<footer class="article-footer">
	<div class="row">
		<div class="col-sm-6">
			<div class="m-xs-b-medium m-sm-y-small">
				<time datetime="2016-05-12">12 maj 2016</time>
			</div>
		</div>
		<div class="col-sm-6 text-right-small">
			<button class="btn btn-primary btn-sm">Dela sidan</button>
		</div>
	</div>
</footer>
