{% import '../includes/macros.njk' as macros %}

<div class="media contact">
  <div class="media-body">
    <div class="show-xs show-sm hidden-md hidden-lg text-center m-xs-b-medium">
        {{ macros.imgph(100, 100) }}
    </div>
    <h1 class="contact-heading">Förnamn Efternamn
        <small class="m-xs-t-small">
            {{ macros.lipsumwords(2,5) }}
        </small>
    </h1>
    <dl class="dl-contact">
      <dt class="sr-only">E-post:</dt>
      <dd><a href="mailto:fornamn.efternamn@iqs.se" class="icon-link">fornamn.efternamn@iqs.se</a></dd>
      <dt class="sr-only">Telefon:</dt>
      <dd><a href="tel:08-123 123 123" class="icon-link"><span class="sr-only">Ring Förnamn Efternamn på telefonnumer</span>08-123 123 123</a></dd>
    </dl>
    <p> 
        {{ macros.lipsumwords(4) }}
    </p>
  </div>
  <div class="media-right media-right-in-contact hidden-xs hidden-sm">
    {{ macros.imgph(200, 200) }}
  </div>
</div>