<form class="panel">
  <div class="form-group form-group-sm">
    <label for="input1">Namn</label>
    <input type="text" required="required" class="form-control"/>
  </div>
  <div class="form-group form-group-sm">
    <label for="input1">E-postadress</label>
    <input type="text" required="required" class="form-control"/>
  </div>
  <div class="form-group form-group-sm">
    <div class="checkbox">
      <label>
        <input type="checkbox" checked="checked"/>Jag vill gå båda dagarna tack
      </label>
    </div>
  </div>
  <input type="submit" class="btn btn-primary"/>
</form>
	
						