<div id="function-menu" class="function-menu">
  <ul class="link-list-inline">
    <li><a href="">Kontakt</a></li>
    <li><a href="">Press</a></li>
    <li><a href="">In English</a></li>
  </ul>
</div>