nav.global-nav.navbar.navbar-default
	.container-fluid
		ul.nav.navbar-nav
			+nav_item("")
				+lipsum-words(2,7)
			+nav_item("", "active")
				+lipsum-words(2,40)
			+nav_item("")
				+lipsum-words(2,3)
			+nav_item("")
				+lipsum-words(2,15)