{% import '../includes/macros.njk' as macros %}

<footer id="global-footer" class="global-footer">
  <div class="container"><a href="" class="site-logo"><img src="images/logo-inverted.svg" alt=""/></a>
    <p> {{ macros.lipsumwords(15,6) }} </p>
    <nav>
      <ul class="list-inline">
        <li> <a href="">Kontakta oss</a></li>
        <li> <a href="">Facebook</a></li>
        <li> <a href="">Twitter</a></li>
        <li> <a href="">LinkedIn</a></li>
      </ul>
    </nav>
  </div>
</footer>