{% import '../includes/macros.njk' as macros %}

<nav class="global-nav navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
			{{ macros.nav_item("") }}
				{{ macros.lipsumwords(2,7) }}

			{{ macros.nav_item("", "active") }}
				{{ macros.lipsumwords(2,40) }}

			{{ macros.nav_item("") }}
				{{ macros.lipsumwords(2,3) }}

			{{ macros.nav_item("") }}
				{{ macros.lipsumwords(2,15) }}
		</ul>
  </div>
</nav>