include ../includes/mixins

header#global-header.global-header(role="banner")
	include ../compositions/mobile-navbar
	.container
		.row
			.row-md-eq
				.col-md-4.col-middle 
					a.site-logo(href="",title="Till startsidan")
						img(src=settings.logotypes.default, alt=settings.title)
				.col-md-8.hidden-sm.hidden-xs.col-middle.text-right
					include ../compositions/function-menu
					include ../compositions/global-search
	.container
		include global-navigation