{% import '../includes/macros.njk' as macros %}

<ul class="list-unstyled link-list">
	<div>{{ macros.repeat(4) }}
	
		<li> 
			<a href="" class="icon-link">
				<span class="fa fa-file"></span>
				{{ macros.lipsumwords(5) }}
			</a>
		</li>
	</div>
</ul>