{# Navigation-page-list #}

{% import '../includes/macros/lipsum.njk' as lipsum %}

<h1>Navigation page</h1>

<ul class="list-unstyled navigation-page-list">
  <li class="navigation-page-list-item col-md-6">
    <a class="btn btn-default btn-block m-xs-b-base" href="">{{ lipsum.lipsumwords(5, 5) }}</a>
  </li>
  <li class="navigation-page-list-item col-md-6">
    <a class="btn btn-default btn-block m-xs-b-base" href="">{{ lipsum.lipsumwords(5, 5) }}</a>
  </li>
  <li class="navigation-page-list-item col-md-6">
    <a class="btn btn-default btn-block m-xs-b-base" href="">{{ lipsum.lipsumwords(8, 5) }}</a>
  </li>
  <li class="navigation-page-list-item col-md-6">
    <a class="btn btn-default btn-block m-xs-b-base" href="">{{ lipsum.lipsumwords(8, 5) }}</a>
  </li>
  <li class="navigation-page-list-item col-md-6">
    <a class="btn btn-default btn-block m-xs-b-base" href="">Etiam neque</a>
  </li>
  <li class="navigation-page-list-item col-md-6">
    <a class="btn btn-default btn-block m-xs-b-base" href="">Etiam neque</a>
  </li>
  <li class="navigation-page-list-item col-md-6">
    <a class="btn btn-default btn-block m-xs-b-base" href="">Etiam neque</a>
  </li>
  <li class="navigation-page-list-item col-md-6">
    <a class="btn btn-default btn-block m-xs-b-base" href="">Etiam neque</a>
  </li>
</ul>
