<nav>
  <ul class="unstyled-list navigation-list">
    <li>
			<a href="" class="btn">Projekt och program</a>
		</li>
    <li>
			<a href="" class="btn">Frågor och svar om forskning</a>
		</li>
    <li>
			<a href="" class="btn">Aktuella utlysningar</a>
		</li>
    <li>
			<a href="" class="btn">Hitta en projektpartner</a>
		</li>
    <li>
			<a href="" class="btn">Forskningsfinansiering</a>
		</li>
  </ul>
</nav>
