.container
    h2.section-heading Nyheter
    .row.row-blocks
        .col-sm-4
            include ../components/card.jade
        .col-sm-4
            include ../components/card.jade
        .col-sm-4
            include ../components/card.jade
        .col-sm-4
            include ../components/card.jade
        .col-sm-4
            include ../components/card.jade
        .col-sm-4
            include ../components/card.jade
    a(href="#").btn.btn-default.btn-sm Fler nyheter
    
    

                