{% import '../includes/macros.njk' as macros %}
{% import '../includes/macros/lipsum.njk' as lipsum %}

<ul class="list-unstyled article-list">
	<li>
		<a href="" class="card m-xs-b-small">
    	<h2 class="card-title">{{ lipsum.lipsumsentences(3) }}</h2>
			<p class="card-text">
				{{ lipsum.lipsumsentences(3) }}
				<span class="label label-intro">
		    	<time datetime="2016-05-12">12 maj 2016 </time>
				</span>
			</p>
		</a>
	</li>
	<li>
		<a href="" class="card m-xs-b-small">
    	<h2 class="card-title">{{ lipsum.lipsumsentences(3) }}</h2>
			<p class="card-text">
				{{ lipsum.lipsumsentences(3) }}
				<span class="label label-intro">
		    	<time datetime="2016-05-12">12 maj 2016 </time>
				</span>
			</p>
		</a>
	</li>
	<li>
		<a href="" class="card m-xs-b-small">
    	<h2 class="card-title">{{ lipsum.lipsumsentences(3) }}</h2>
			<p class="card-text">
				{{ lipsum.lipsumsentences(3) }}
				<span class="label label-intro">
		    	<time datetime="2016-05-12">12 maj 2016 </time>
				</span>
			</p>
		</a>
	</li>
	<li>
		<a href="" class="card m-xs-b-small">
    	<h2 class="card-title">{{ lipsum.lipsumsentences(3) }}</h2>
			<p class="card-text">
				{{ lipsum.lipsumsentences(3) }}
				<span class="label label-intro">
		    	<time datetime="2016-05-12">12 maj 2016 </time>
				</span>
			</p>
		</a>
	</li>
	<li>
		<a href="" class="card m-xs-b-small">
    	<h2 class="card-title">{{ lipsum.lipsumsentences(3) }}</h2>
			<p class="card-text">
				{{ lipsum.lipsumsentences(3) }}
				<span class="label label-intro">
		    	<time datetime="2016-05-12">12 maj 2016 </time>
				</span>
			</p>
		</a>
	</li>
	<li>
		<a href="" class="card m-xs-b-small">
    	<h2 class="card-title">{{ lipsum.lipsumsentences(3) }}</h2>
			<p class="card-text">
				{{ lipsum.lipsumsentences(3) }}
				<span class="label label-intro">
		    	<time datetime="2016-05-12">12 maj 2016 </time>
				</span>
			</p>
		</a>
	</li>					
</ul>
