<div class="container">
  <h2 class="section-heading">Nyheter</h2>
  <div class="row row-blocks">
    <div class="col-sm-4">
      {% include "../include/components/cards.njk" %}
    </div>
    <div class="col-sm-4">
      {% include "../include/components/cards.njk" %}
    </div>
    <div class="col-sm-4">
      {% include "../include/components/cards.njk" %}
    </div>
    <div class="col-sm-4">
      {% include "../include/components/cards.njk" %}
    </div>
    <div class="col-sm-4">
      {% include "../include/components/cards.njk" %}
    </div>

    <a href="#" class="btn btn-default btn-sm">Fler nyheter</a>

  </div>
</div>
