{# Reset-password #}

<form>
  <fieldset>
    <div class="form-group material-input">
      <label class="control-label" for="exampleMemberNumber1">Medlemsnummer *</label>
      <input class="form-control valid input-filled" id="exampleMemberNumber1" type="text" aria-required="true">
      <span class="field-validation-valid"></span>
    </div>
    <div class="form-group material-input">
      <label class="control-label" for="exampleInputEmail1">E-post *</label>
      <input class="form-control input-filled valid" id="exampleInputEmail1" type="text" aria-required="true">
      <span class="field-validation-valid"></span>
    </div>
    <button class="btn btn-primary btn-lg">Ansök om nytt lösenord</button>
  </fieldset>
</form> 